@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 5% 0;
  height: 95vh;
  font-family: "Rubik", sans-serif;
  background-color: #eee;
  color: #242c44;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  position: relative;
  bottom: 10%;
}
